h1 {
    font-size: 2em;
    color: blue;
}

p{
    font-style: italic;
    font-size: 1em;
}

.yangu{
    background: black
}

#me{
    font-size: 1em;
}

h2 {
    font-size: 1.5em;
    color: greenyellow;
}